.container {
  width: 100%;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    .title {
      font-size: 1.05rem;
      font-weight: 800;
    }
    .page-nav {
      a {
        font-size: 0.9rem;
        &:last-child {
          padding-left: 10px;
        }
      }
    }
  }
  .meal-list {
    background-color: #f3f5f9;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .meal-content-preview {
      max-width: 720px;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 10px;
      background-color: #fefefe;
      transition: 0.2s ease-in-out;
      &:hover {
        background-color: rgb(225, 232, 245);
        margin-left: 10px;
      }
      .meal-info-preview {
        width: 100%;
        display: grid;
        grid-template-columns: 0.5fr 1fr 2fr;
        img {
          place-self: center;
          width: 50px;
          border-radius: 50%;
        }
        .title {
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding-left: 10px;
          h3 {
            color: gray;
            font-size: 0.9rem;
          }
          a {
            margin-top: 3px;
            font-weight: 500;
            font-size: 1.25rem;
          }
        }
        .link {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          a {
            place-self: center;
            font-size: 0.9rem;
            &:first-child {
              margin-right: 10px;
            }
            i {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .meal-content {
    background-color: #f3f5f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      max-width: 480px;
      border-radius: 50%;
      margin: 20px 0;
    }
    .meal-info {
      max-width: 1080px;
      margin: 10px 0;
      padding: 30px;
      background-color: #fefefe;
      .name {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
      }
    }
  }
}
