.container {
  width: 100%;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    .title {
      font-size: 1.05rem;
      font-weight: 800;
    }
    .page-nav {
      a {
        font-size: 0.9rem;
        &:last-child {
          padding-left: 10px;
        }
      }
    }
  }
  .meal-list {
    background-color: #f3f5f9;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .meal-content-preview {
      max-width: 720px;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 10px;
      background-color: #fefefe;
      transition: 0.2s ease-in-out;
      &:hover {
        background-color: rgb(225, 232, 245);
        margin-left: 10px;
      }
      .meal-info-preview {
        width: 100%;
        display: grid;
        grid-template-columns: 0.5fr 1fr 2fr;
        img {
          place-self: center;
          width: 50px;
          border-radius: 50%;
        }
        .title {
          display: flex;
          justify-content: center;
          flex-direction: column;
          padding-left: 10px;
          h3 {
            color: gray;
            font-size: 0.9rem;
          }
          a {
            margin-top: 3px;
            font-weight: 500;
            font-size: 1.25rem;
          }
        }
        .link {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 1fr;
          a {
            place-self: center;
            font-size: 0.9rem;
            &:first-child {
              margin-right: 10px;
            }
            i {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .meal-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f3f5f9;
    img {
      max-width: 480px;
      border-radius: 50%;
      margin: 20px 0;
    }
    .meal-info {
      max-width: 1080px;
      background-color: #fefefe;
      padding: 0 30px 30px 30px;
      border-radius: 15px;
      .name {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 20px;
      }
      .materials {
        padding: 20px;
        border-radius: 15px;
        background-color: #fefefe;
        h2 {
          padding-left: 10px;
          font-weight: 700;
          text-transform: uppercase;
        }
        ul {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          margin-top: 20px;
          padding: 20px;
          border-radius: 15px;
          background-color: #f3f5f9;
          li {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 2px 0;
            div {
              letter-spacing: 1px;
            }
            div:first-child {
              font-weight: 500;
            }
            div:last-child {
              place-self: center;
            }
          }
        }
      }
      .etc {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 1080px;
        margin: 0 20px;
        padding: 20px;
        border-radius: 15px;
        background-color: #f3f5f9;
        * {
          place-self: center;
        }
        .etc-column {
          display: grid;
          grid-template-columns: 1fr;
          span {
            place-self: center;
          }
          span:first-child {
            color: rgb(122, 122, 122);
            font-size: 0.8rem;
          }
          span:last-child {
            font-weight: 600;
            margin-top: 10px;
            a {
              i {
                margin-right: 5px;
              }
            }
          }
        }
      }
      .intruction {
        padding: 20px;
        letter-spacing: 0.5px;
        line-height: 1.2;
      }
    }
  }
}
